*{
        margin:0;
        padding:0;
        font-family: 'Poppins', sans-serif;
}
.header{
        min-height: 100vh;
        width :100%;
        background-image:linear-gradient(rgba(25, 22, 32, 0.7),rgba(17, 23, 34, 0.7)),url(images/donation7.jpg);
        background-position: center;
        background-size: cover;
        position:relative;

}
     .text-box{
        width:90%;
        color:white;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        text-align: center;

     }
     .text-box h1{
        font-size: 50px;

     }
.text-box p{
        margin: 10px,0,40px;
        font-size:18px;
        color:white;
}
.link{
        padding:15px 35px;
        text-decoration: none;
        background-image: linear-gradient(tomato,red);
        color:white;
        font-weight: 700;
        border-radius: 5px;
        margin-top: 5%;
}
h2{
        font-family: 'Rubik', sans-serif;
        
         text-align: center;
        font-size:40px ;
        margin-left:20%;
        margin-right:20%;
        margin-top:5%;
        font-weight: 750;

}
.para{
        text-align:center;
        margin-left:10%;
        margin-right: 10%;
        margin-top:6%;
        
}
.container{
                width:100%;
                display:flex;
                justify-content:center ; 
                align-items: center;
                padding-left: 30px;
                padding-right: 30px;
                margin-left: 20px;
                margin-right: 20px;
                margin-top: 30px;
        }    
        .box{
                font-size: 20px;
                font-weight: 700;
                color: gray;
                margin:10px;
                padding:10px 10px;
                background-color:aliceblue;
                border-radius: 5px;
        }
        #color{
                background-color: #fff3f3;
                border: 2px solid tomato ;
                color: tomato;
                border-radius :5px;
        }
        h4{
                
               
                font-size: 15px;
                color: darkgray;             
                padding-top: 10px;
                font-weight: 100;
                text-align: center;
                margin-top:2%;
                justify-content: center;
                
        }
        .border-bottom{
                border: 1px solid grey;
               margin: auto;
               width:50%;
               
        }
        .row{
              display:flex;
                            margin-top: 5%;
                            margin-left: 10%;
                            margin-right: 10%;
                           
        }
         h3{
                font-size:28px;
                font-weight:600;
         }      
         p{
                font-size: 15px;
                font-weight: 300;
                line-height: 20px;
                padding:10x 10px;
        }
        .column{
               flex-basis: 31%;
                background: #fff3f3;
                border-radius: 10px;
                margin-bottom: 5%;
                padding:22px 20px;
                margin-left: 10px;
                margin-right:10px;
                width:300x;
                height:250px;
               
        }
        #about-food{
                background: #E5F4FA;
        }
        #about-education{ 
                background:#FBFBD2;

        }      
        .button{
                text-align: center;
                justify-content: center;
                margin-top: 5%;
        }
       

        .flexible-container{
                display:flex;
                justify-content: space-around;
                margin-top: 100px;
                margin:0 auto ;
                width: 80%;
               
        }
       .their-live{
                 text-align: left;
                 margin: 0 auto;
                 width:80%;

                               
           
                }
       


        
        .half-width{
                
                justify-content: left;
                height: auto;
                width: auto;
                padding-left: 10px;
                padding-right: 10px;
                
               

               
        }
.half-width img{
        width:100%;
        
        margin-left:50px;
        margin-right: 50px;
        

        
       
        
}
#text{
        text-align:left;
}
.sub{
        background:blanchedalmond;
        height:200px;
        width:80%;
        margin: 0 auto;
        margin-top: 50px;
        display:flex;
        justify-content: center;
        align-items: center;
}
.text-input{
        font-size: 1.2rem;
        padding: 10px;
        border: none;
        border-radius:10px 0 0 10px;
}
.sub-btn{
        font-size: 1.2rem;
        padding: 10px 15px;
        background-color: tomato;
        border:none;
        border-radius: 0 10px 10px 0;
        color: white;
}

        
       footer{
        text-align: center;
        background-color: black;
        margin-top:30px;
        color: white;
        padding :30px 40px;
       }
      .gonna{
        padding:100px 10px;

       }
       .humble{
        color:red;
        font-family: 'Lobster', cursive;
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 5px ;

       }
       
              
      
                
        